html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 15px;
  padding-top: 30px;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  /* указать шрифт под проект*/
  font-size: 16px;
  font-weight: 400;
  /*цвет под ваш проект*/
  background-color: hsl(139, 65%, 79%);
  /*цвет под ваш проект*/
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;

  background: linear-gradient(111deg, #1f1f1d 18.53%, #000 76.33%);
}

#rec669182486 {
  background: linear-gradient(111deg, #1f1f1d 18.53%, #000 76.33%);
}

.myButton {
  max-width: 460px !important;
  padding: 14px 28px !important;
  color: #aaaaaa !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #2a2a2a !important;
  font-size: 26px !important;
  border-radius: 32px;
}

.text-color {
  background: linear-gradient(100deg, #fff 20.04%, rgba(255, 255, 255, 0) 137.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uc-scroll {
  background: linear-gradient(111deg, #1f1f1d 18.53%, #000 76.33%);
  transition: background 1s ease-in-out;
  animation: changeBackground 1s ease-in-out;
}

.uc-scroll.active {
  animation: changeBackground 1s ease-in-out;
  background: #E94545;
}

@keyframes changeBackground {
  from {
    background: linear-gradient(111deg, #1f1f1d 18.53%, #000 76.33%);
  }
  to {
    background: #E94545;
  }
}